body{
  background: url(images/Фон.png);
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1140px;
  height: 680px;
  margin: 0 auto;
  font-family: 'Arimo', sans-serif;
  color: #333;
  background-color: #fafafa;
  text-align: center;
  box-shadow: 0 10px 4px rgba(0,0,0,0.1);
}

th {
  background-color: #f7f7f7;
  color: #333;
  text-align: center;
  padding: 10px;
  border: none;
}

td {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #ccc;
}

td:nth-child(n+2):nth-child(-n+4) {
  box-shadow: -3px 0px 5px -5px rgba(0,0,0,0.75);
}

tr:nth-child(4n+4),
tr:nth-child(4n+6),
tr:nth-child(4n+8) {
  background-color: #e3e3e3;
}

tr:last-child td:first-child {
  background-color: #dddddd;
}

tr:nth-child(3), 
tr:nth-child(5), 
tr:nth-child(7) {
  background-color: #f2f2f2;
}

td small {
  font-size: 12px;
}
tr:first-child {
  height: 70px;
}

tr:nth-child(2) {
  height: 85px;
  background-color: #fafafa;
}



thead tr:first-child th:first-child {
  width: 310px;
  text-align: left;
}

thead tr:first-child th:not(:first-child) {
  width: 280px;
  text-align: center;
}

.button-standard {
  font-weight: bold;
  background-color: #89c331;
  border: none;
  color: #fff;
  padding: 12px 52px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.button-standard:hover {
  background-color: #22c546;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.button-ultimate {
  font-weight: bold;
  background-color: #f04a56;
  border: none;
  color: #fff;
  padding: 12px 52px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.button-ultimate:hover {
  background-color: #b6121d;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.button-premium {
  font-weight: bold;
  background-color: #20807c;
  border: none;
  color: #fff;
  padding: 12px 52px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.button-premium:hover {
  background-color: #35a7a1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}


.contact-button {
  display: inline-block;
  background-color: #484848;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #756e6e;
}

.price {
  font-size: 60px;
}

.cents {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  top: -25px;
  margin-left: 5px;
}

.period {
  font-size: 18px;
  position: relative;
  top: -5px;
  left: -30px;
}

.option {
  font-size: 30px;
  font-weight: bold;
}
.standard {
  font-size: 24px;
  background-color: #89c331;
  color: #fff
}

.ultimate {
  font-size: 24px;
  background-color: #f04a56;
  color: #fff
}

.premium {
  font-size: 24px;
  background-color: #20807c;
  color: #fff
}

.fa-box-archive::before {
  font-size: 24px;
  left: -15px;
  position: relative;
  content: "\f187"; }

.fa-cloud-arrow-up::before {
  font-size: 24px;
  left: -15px;
  position: relative;
    content: "\f0ee"; }

.fa-envelope::before {
  font-size: 24px;
  left: -15px;
  position: relative;
      content: "\f0e0"; }

.fa-headset:before{
  font-size: 24px;
  left: -15px;
  position: relative;
  content:"\f590"}

.fa-boxes-stacked::before {
  font-size: 24px;
  left: -15px;
  position: relative;
          content: "\f468"; }

.fa-users::before {
  font-size: 24px;
  left: -15px;
  position: relative;
  content: "\f0c0"; }
